---
layout: default
---

<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="other">
  <h2>Other Project</h2>
  <ul class="other-project">
    {% for projects in site.projects limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ projects.url }}">
            {{ projects.title }}            
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
